@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: Montserrat;
}

input,
button {
    border: none;
    font-family: Montserrat;
}

.header {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        column-gap: 20px;
        color: #4793FF;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__form {
        display: flex;
        align-items: center;
        column-gap: 20px;

        &-input {
            border-radius: 10px;
            background: rgba(71, 147, 255, 0.20);
            font-size: 16px;
            font-weight: 500;
            padding: 9px 20px;

            &::placeholder {
                color: #000;
            }
        }
    }
}

.infoBlock {
    margin-top: 10px;
    display: flex;
    column-gap: 50px;

    &__left {
        border-radius: 20px;
        background: #FFF;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        padding: 20px;
        position: relative;
        max-width: 400px;
        width: 100%;

        &-img {
            position: absolute;
            width: 119px;
            top: 46px;
            right: 20px;
        }

        &-title {
            color: #4793FF;
            font-size: 96px;
            font-weight: 500;
        }

        &-today {
            color: #000;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 31px;
        }

        &-time {
            color: #939CB0;
            font-size: 25px;
            margin-bottom: 14px;
        }

        &-city {
            color: #939CB0;
            font-size: 25px;
        }
    }

    &__right {
        position: relative;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        flex-grow: 1;
        padding: 42px 32px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        justify-content: center;
        z-index: 1;

        &-cloud {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }

        &-item {
            display: flex;
            align-items: center;
        }

        &-img {
            box-shadow: 1px 4px 10px rgba(71, 147, 255, 0.20);
            border-radius: 50%;
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
    }
}

.weeks {
    margin-top: 50px;
    display: flex;
    column-gap: 20px;
    box-shadow: 2px 5px 25px -3px rgba(0, 0, 0, 0.39);
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    background: rgba(71, 147, 255, 0.20);
    padding: 11px;
    width: 170px;
}
.day__name {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.day__date {
    color: #939CB0;
    font-size: 14px;
}
.day__img {
    width: 48px;
}
.day__temp-day {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.day__temp-night {
    color: #939CB0;
    font-size: 13px;
}
.day__descr {
    color: #939CB0;
    font-size: 13px;
}